/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/joosc
/juicy.zip
/marmotest/
.lib-src
tags
ctags
.sbtserver/
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt
